.btnGithub {
	transition: 0.5s all ease-in-out;
	font-weight: 700;
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
	border-radius: 0.5rem;
	font-style: 1.8rem;
	height: 5.4rem;
	cursor: pointer;
	box-shadow: var(--box-shadow-400);
	width: 19.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btnGithub:hover {
	background-color: var(--c-cta-button-hover-400);
}

.githubIcon {
	width: 2rem;
	margin-right: 1rem;
}

.btnText {
}

@media (max-width: 64em) {
	.btnGithub {
		width: 18rem;
		height: 4.5rem;
	}
}

@media (max-width: 30em) {
	.btnGithub {
		width: 16rem;
		height: 4rem;
	}
}
