@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	/* Requirements for a naming convention
	1 ) It should scale well for small-to-large themes.
	2 ) Variables should be semantic in all theme instances
	3 ) It should support colors, fonts and brands

	Example solution
	-- what is it? is it a color,background-color / - then what component is? is a paragraph or title  ? /- the contrast 400 is the  base
	--c-title-400: #000   , c = color  title = some title component or H1-6  , 400 = base contrast.
 */
	// icons
	--c-icon-400: var(--c-a-400);
	--c-icon-hover-400: var(--c-a-400);

	// forms
	--bg-form-400: var(--c-p-400);

	//links
	--c-text-link-400: var(--c-text-400);
	--bg-link-hover-400: var(--c-a-300);

	--c-link-active-400: #fff;
	--bg-link-active-400: var(--c-a-500);

	// titles
	--c-title-400: #000;

	// paragraphs
	--c-text-400: var(--c-text-400);

	//body
	--c-body-text-400: var(--c-text-400);

	//Success
	--c-success-400: #5cb85c;
	//Errors
	--c-error-400: #fc4747;
	--c-error-hover-400: #d43030;

	// Buttons
	--bg-btn-cta-400: var(--c-a-400);
	--c-cta-button-hover-400: var(--c-a-300);

	//-- special buttons
	--bg-btn-form-400: var(--c-a-400);
	--b-btn-form-400: var(--c-a-500);

	--bg-btn-form-hover-400: var(--c-a-300);
	--c-btn-form-400: var(--c-text-400);
	--c-btn-form-hover-400: #fff;

	// Sections
	--bg-section-400: var(--c-p-400);

	//Modals
	--bg-modal-400: var(--bg-body-400);

	// Shadows
	--box-shadow-400: 0 3px 8px rgba(0, 0, 0, 0.1);

	// Fonts
	--ff-body-400: "Poppins", sans-serif;

	// Margins
	--mt-section-400: 18rem;

	// --fs-900: 20rem;
	--fs-800: 3.2rem;
	--fs-700: 2.4rem;
	// --fs-600: 2.4rem;
	--fs-500: 1.8rem;
	--fs-400: 1.5rem;
	--fs-300: 1.3rem;
	// --fs-200: 1.2rem;

	// main
	--c-text-400: #615978;
	--bg-body-400: #f9f9f9;

	// Colors  -> Primary = p ,Secondary = s  , a = accent

	// accent
	--c-a-500: #167364;
	--c-a-400: #fd562a;
	--c-a-300: #2fdcbf;

	// primary
	--c-p-500: rgb(61, 131, 130) 7e;
	--c-p-400: #f4f5fb;
	--c-p-300: rgba(104, 234, 232, 0.494);

	// Theme
	[data-theme="Dark"] {
		// icons
		--c-icon-400: var(--c-a-500);
		--c-icon-hover-400: var(--c-a-300);

		// forms
		--bg-form-400: var(--c-p-400);

		//links
		--c-text-link-400: var(--c-text-400);
		--bg-link-hover-400: var(--c-a-300);

		--c-link-active-400: #fff;
		--bg-link-active-400: var(--c-a-500);

		// titles
		--c-title-400: #fff;

		// paragraphs
		--c-text-400: var(--c-text-400);

		//body
		--c-body-text-400: var(--c-text-400);

		//Success
		--c-success-400: #5cb85c;
		//Errors
		--c-error-400: #fc4747;
		--c-error-hover-400: #d43030;

		// Buttons
		--bg-btn-cta-400: var(--c-a-400);
		--c-cta-button-hover-400: var(--c-a-300);

		//-- special buttons
		--bg-btn-form-400: var(--c-a-400);
		--b-btn-form-400: var(--c-a-500);

		--bg-btn-form-hover-400: var(--c-a-300);
		--c-btn-form-400: var(--c-text-400);
		--c-btn-form-hover-400: #fff;

		// Sections
		--bg-section-400: var(--c-p-400);

		//Modals
		--bg-modal-400: var(--bg-body-400);

		// Shadows
		--box-shadow-400: 0 3px 8px rgba(255, 255, 255, 0.1);
		// main
		--c-text-400: #8f87a6;
		--bg-body-400: #060606;

		// Colors  -> Primary = p ,Secondary = s  , a = accent

		// accent
		--c-a-500: #45bda9;
		--c-a-400: #fd582b;
		--c-a-300: #28f4d2;

		// primary
		--c-p-500: rgb(61, 131, 130) 7e;
		--c-p-400: #0b0e1e;
		--c-p-300: rgba(104, 234, 232, 0.494);

		// secondary
		--c-s-500: #a1a1a1;
		--c-s-400: #291f00;
		--c-s-300: #f1f0f0;
	}
}

/*****************         Resets             **************************/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: var(--ff-body-400);
	font-size: var(--fs-400);
	min-height: 100vh;
	background-color: var(--bg-body-400);
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	color: var(--c-body-text-400);
}

// This is for react root div element
body > #root > div {
	min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--c-title-400);
	font-weight: 400;
	font-family: "open sans";
}
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/*****************         Utility classes             **************************/

/*****************      Media queries            **************************/

// 481px -  1024px
@media (min-width: 30.1em) and (max-width: 64em) {
	:root {
		// Tablet
		// --fs-900-t: 17.5rem;
		// --fs-800-t: 4rem;
		// --fs-700-t: 3.2rem;
		// --fs-600-t: 1.8rem;
		// --fs-500-t: 1.8rem;
		// --fs-200-t: 1.3rem;
	}
}

// 481px - 750px
@media (min-width: 30.1em) and (max-width: 46.875em) {
}

/*****************     Global Classes            **************************/

.col-12 {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-column-gap: 3rem;
	grid-template-rows: max-content;
}

// / 760px 1024px
@media (max-width: 64em) {
	.col-12 {
		grid-template-columns: [full-start] minmax(3.9rem, auto) [col-start] repeat(12, minmax(4.8rem, 12rem)) minmax(3.9rem, auto) [full-end];
		grid-column-gap: 1rem;
	}

	:root {
		--mt-section-400: 8rem;
	}
}

// 375 -480px
@media (max-width: 30em) {
	.col-12 {
		grid-template-columns: [full-start] minmax(0.5rem, auto) [col-start] repeat(12, minmax(2rem, 12rem)) minmax(0.5rem, auto) [full-end];
		grid-column-gap: 0.2rem;
	}

	:root {
		// Smartphone
		// --fs-900-s: 10rem;
		--fs-800-s: 2rem;
		--fs-700-s: 1.5rem;
		--fs-600-s: 1.4rem;
		--fs-400-s: 1.2rem;
		// --fs-200-s: 1rem;
	}
}
